@model QLCP.Models.Bàn

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết bàn</h2>

<div>
    <h4>Bàn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Trạng thái")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trạng_thái)
        </dd>

        <dt>
            @Html.DisplayName("Tên bàn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tên_bàn)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-default btn-primary" @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Số_bàn }) |
    <a class="btn btn-default btn-primary"@Html.ActionLink("Quay lại danh sách", "Index")
</p>
