@model QLCP.Models.Sản_phẩm

@{
    ViewBag.Title = "Create";
}

<h2>Thêm mới món</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h5 style="font-weight: bold; margin: 0" class="control-label col-md-2">Mã sản phẩm</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mã_sản_phẩm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mã_sản_phẩm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h5 style="font-weight: bold; margin: 0" class="control-label col-md-2">Tên sản phẩm</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tên_sản_phẩm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tên_sản_phẩm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h5 style="font-weight: bold; margin: 0" class="control-label col-md-2">Giá gốc</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Giá_gốc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Giá_gốc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h5 style="font-weight: bold; margin: 0" class="control-label col-md-2">Giá bán</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Giá_bán, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Giá_bán, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hình, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hình, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hình, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-default btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-default btn-primary" @Html.ActionLink("Quay lại danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
