@model IEnumerable<QLCP.Models.Hóa_đơn_bán>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách hóa đơn</h2>

<p>
    <a class="btn btn-default btn-primary" @Html.ActionLink("Thêm hóa đơn mới", "Create")
</p>
<table class="table">
    <tr>
        <th style="border-left: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black">
            @Html.DisplayName("Ngày xuất hóa đơn")
        </th>
        @*<th>
            @Html.DisplayName("Tên bàn")
        </th>*@
        <th style="border-left: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black">
            @Html.DisplayName("Tên nhân viên")
        </th>
        <th style="border-left: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black">
            @Html.DisplayName("Tên sản phẩm")
        </th>
        <th style="border-left: 1px solid black; border-bottom: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black; border-top: 1px solid black " ">
            @Html.DisplayName("Số lượng")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td style="border-left: 1px solid black; border-bottom: 1px solid black">
        @Html.DisplayFor(modelItem => item.Ngày_xuất_HĐ)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.Bàn.Tên_bàn)
        </td>*@
    <td style="border-left: 1px solid black; border-bottom: 1px solid black">
        @Html.DisplayFor(modelItem => item.Nhân_viên.Tên_nhân_viên)
    </td>
    <td style="border-left: 1px solid black; border-bottom: 1px solid black">
        @Html.DisplayFor(modelItem => item.Sản_phẩm.Tên_sản_phẩm)
    </td>
    <td  style="border-left: 1px solid black; border-bottom: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black; border-top: 1px solid black ">
        @Html.DisplayFor(modelItem => item.Số_lượng)
    </td>
    <td style="border-left: 1px solid black; border-bottom: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black; border-top: 1px solid black ">
        @*<a class="btn btn-default btn-primary" @Html.ActionLink("Edit", "Edit", new { id = item.Mã_HĐ }) |*@
        <a class="btn btn-default btn-primary" @Html.ActionLink("Details", "Details", new { id = item.Mã_HĐ })
           @*<a class="btn btn-default btn-primary"@Html.ActionLink("Delete", "Delete", new { id = item.Mã_HĐ })*@
    </td>
</tr>
}

</table>
